body {
  margin: 0;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  overflow-y: scroll; /* Allow vertical scrollbar to occupy space always (Desktop) */
  overscroll-behavior-y: none; /* Disables pull-to-refresh / rubber-banding on Mobile */
}

/* Ensure no gap around banner images */
.banner-section-wrapper .slick-slider,
.banner-section-wrapper .slick-list, 
.banner-section-wrapper .slick-track,
.banner-section-wrapper .slick-slide > div {
    display: block !important;
    line-height: 0;
    font-size: 0;
}

